body {
  background-color: #f0f8ff;
  margin: 0;
  font-family: monospace;
  overflow-y: hidden;
}

#home-screen{
  position:absolute;
  left:200px;
  top:200px;
  width:500px;
  font-size:30px;

}

#build-btn{
  size:210px;
  font-size:20px;
  font-family:monospace;
  background-color: #d86666;
  color:white;
  border:white;
}

#build-btn:hover{
  cursor:pointer;
  background-color: #c05353;
}



#join-btn{
  size:200px;
  font-size:20px;
  font-family:monospace;
  background-color: #86d866;
  color:white;
  border:white;
}

#join-btn:hover{
  cursor:pointer;
  background-color: #72b856;
}
  
.game-container {
    position: absolute;
    left:30px;
    width: 700px;
    height: 900px;
    margin: 50px auto;
    image-rendering: pixelated;
    justify-content: center;
}
  
  #machine-frame{
    width:700px;
    height:700px;
    z-index: 0;
    image-rendering: pixelated ;
  }
  .memory-container{
    position: absolute;
    left:800px;
    width: 600px;
    height: 800px;
    margin-top:50px;
    image-rendering: pixelated;
    justify-content: center;
    font-family: 'Press Start 2P', monospace;
    font-size: 13px;
    line-height: 20px;
  }


  #memory-date{
   margin-top: 70px;
   color:white;
  }

  #memory-text{
    margin:20px;
    color:white;
    max-height: 100px;
    margin-left: 50px;
    max-width: 500px;
  }

  #image-frame {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border: 5px solid #d86666;
    box-shadow: 0 0 10px rgba(243, 164, 164, 0.453);
    background: #d86666;
    margin-bottom: 10px;
  }
  
  #memory-image {
    display: block;
    max-width: 200px;
    height: auto;
    image-rendering: pixelated; /* optional for retro look */
  }
  
  #memory-frame{
    position:absolute;
    width:600px;
    left:0px;
    height:700px;
    z-index:-2;
  }
  .claw-machine {
    position: absolute;
    size:cover;
    top: 0;
    left: 120px;
    width: 500px;
    height: auto;
    z-index: 1;
  }
  
  .static-balls{
    position:absolute;
    size:cover;
    top: 0;
    left:120px;
    width:500px;
    height:auto;
    z-index:2;
  }


  .drop-button {
    position: absolute;
    size:cover;
    top: 0;
    left: 120px;
    width: 500px;
    height: auto;
    z-index: 10;
  }

  .play-button{
    position: absolute;
    size:contain;
    top: 466px;
    left: 406px;
    width: 90px;
    height: auto;
    z-index: 10;
    cursor:pointer;
  }


  .claw {
    position: absolute;
    size:cover;
    top: 0;
    left: 120px;
    width: 500px;
    height: auto;
    z-index: 3;
  }

  .ball{
    position: absolute;
    size:cover;
    width:23px;
    height:auto;    
    z-index: 20;
  }

  #blue-ball{
    top:300px;
    left:420px; 
    
  }


  #yellow-ball{
    top:300px;
    left:380px;  
   
  }


  #red-ball{
    top:300px;
    left:350px; 
      
  }


  #green-ball{
    top:300px;
    left:310px; 
  }

  #credits-box {
    position: absolute;
    width:10px;
    height:20px;
    top: 490px;
    left:365px;
    color: #f0eaea;
    font-family: 'Press Start 2P', monospace;
    font-size: 12px;
    border-radius: 4px;
    z-index: 5000;
  }
  
  .msg{
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    left:300px;
    top:600px;
    position:absolute;
  }

  #reset-btn{
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    left:260px;
    top:520px;
    position:absolute;
    z-index: 20;
  }

  #won-msg{
    display:none;
    top:520px;
    left:260px;

  }

  #missed-msg{
    display:none;
    top:520px;
    left:260px;

  }

  .prize{
    top:480px;
    left: 250px;
    position:absolute;
    image-rendering: pixelated;
    z-index: 1000;
    width:25px;
    height:auto;
    display:none;
  }




  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: #d86666;
    color: white;
    font-family: monospace;
    font-size: 32px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 9999;
  }


  #help-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    image-rendering: pixelated;
  }
  
  #help-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-family: 'Press Start 2P', monospace;
  }
  
  #help-text {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 280px;
    background-color: #333;
    line-height: 15px;
    color: #fff;
    padding: 12px;
    font-size: 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  #help-button-2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
    image-rendering: pixelated;
  }
  
  #help-text-2 {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 280px;
    background-color: #222;
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 8px;
    z-index: 1000;
    transition: opacity 0.5s;
    pointer-events: none;
    line-height: 15px;
  }
  
  #help-container:hover #help-text-2 {
    display: block;
    pointer-events: auto;
  }
  